@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@150,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter";
    background-color: #303C56;
}

.start {
    margin-top: 20px;
}

.title {
    border-radius: 6px;
    font-weight: 400;
    margin: 0 auto;
    font-size: 36px;
    width: 808px;
    height: 142px;
    background-color: #D9D9D9;
}
.pad {
    height: 41px;
}
.score {
    width: 115px;
    height: 106px;
    background-color: #FFFFFF;
    border-radius: 6px;
}