@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@150,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* { 
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter";
    background-color: #303C56;
    box-sizing: content-box;
}

.start {
    display: block;
    margin-top: 20px;
}

.mid {
    display: none;
}

.end {
    display: none;
}

.home {
    border-radius: 6px;
    font-weight: 400;
    margin: 0 auto;
    font-size: 36px;
    width: 808px;
    height: 142px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pad {
    height: 41px;
}
.score {
    width: 115px;
    height: 106px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-name {
    width: 150px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 26px;
    font-size: 36px;
}

.ai-name {
    width: 150px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 590px;
    font-size: 36px;
}

.justice {
    width: 150px;
    height: 50px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 150px;
    left: 300px;
    font-size: 36px;
}

.result-player {
    width: 300px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 230px;
    font-size: 48px;
}

.result-ai {
    width: 300px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 230px;
    font-size: 48px;
}

.result-draw {
    width: 300px;
    height: 100px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 230px;
    font-size: 48px;
}

.again {
    width: 300px;
    height: 70px;
    background-color: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 250px;
    left: 230px;
    font-size: 48px;
    cursor: pointer;
}

.again:hover{
    border: 7px solid #0000c5;
    height: 70px;    
    width: 300px;
}

.rock{
    height: 135px;
    width: 130px;
    background-image: url('img/rock.png');
    position: absolute;
    top: 230px;
    left: 320px;
    cursor: pointer;
}

.rock:hover{
    border: 7px solid #FFF92F;
    height: 135px;    
    width: 130px;
    border-radius: 50%;
}

.paper{
    height: 135px;
    width: 134px;
    background-image: url('img/paper.png');
    position: absolute;
    top: 50px;
    left: 170px;
    cursor: pointer;
}

.paper:hover{
    border: 7px solid #FFF92F;
    height: 135px;    
    width: 130px;
    border-radius: 50%;
}

.paper-attack{
    height: 131px;
    width: 136px;
    background-image: url('img/paper_right.png');
    position: absolute;
    top: 150px;
    left: 30px;
}

.paper-result{
    height: 136px;
    width: 131px;
    background-image: url('img/paper_up.png');
    position: absolute;
    top: 150px;
    left: 30px;
}

.scissors{
    height: 135px;
    width: 134px;
    background-image: url('img/scissors.png');
    position: absolute;
    top: 50px;
    left: 465px;
    cursor: pointer;
}

.scissors:hover{
    border: 7px solid #FFF92F;
    height: 135px;    
    width: 130px;
    border-radius: 50%;
}

.ai-attack{
    height: 135px;
    width: 130px;
    background-image: url('img/ai_wait.png');
    position: absolute;
    top: 150px;
    left: 600px;
}

.ai-result{
    height: 135px;
    width: 130px;
    background-image: url('img/rock.png');
    position: absolute;
    top: 150px;
    left: 600px;
}

.game{
    width: 800px;
    height: 400px;
    margin: 20px auto;
    position: relative;
}

.moment{
    width: 800px;
    height: 400px;
    margin: 20px auto;
    position: relative;
}

.resultat{
    width: 800px;
    height: 400px;
    margin: 20px auto;
    position: relative;
}